body {
	font-family: 'Montserrat', sans-serif;
}

footer {
	width: 100%;
	background-color: #f8f9fa;
	text-align: center;
	height: 50px;
	position: absolute;
	bottom: 0;
}

#preloader {
	position: fixed;
	height: 100vh;
	z-index: 100;
	text-align: center;
	background: white url('../assets/preloader-md.gif') center center no-repeat;
}

.navbar-light .navbar-toggler {
	border : none;
	outline : none
}