#preloader {
	position: fixed;
	height : 100vh;
	z-index : 100;
	text-align: center;
	background: white url('../assets/preloader-md.gif') center center no-repeat;
}
label {
    transform: translate(-200px, 20px);
    padding-left : 5px;
    padding-right : 5px;
    background-color: white;
    font-size : 14px
}
select, input, textarea {
    border-radius: 5px;
    border:2px solid lightgray;
    padding:10px;
    width: 100%;
    outline:none;
    resize:none;
}
#message {
    transform: translate(-450px, 20px);
}
#submit-btn {
    padding:5px;
    width:30%;
    border-radius: 5px;
}
