body {
	font-family: 'Montserrat', sans-serif;
}
#preloader {
	position: fixed;
	height : 100vh;
	z-index : 100;
	text-align: center;
	background: white url('../assets/preloader-md.gif') center center no-repeat;
}
p {
    padding-top:20px;
    font-size: 20px;
    color:black;
    text-justify: inter-word;
}

html {
    scroll-behavior: smooth;
}

button{
    background-color: white;
    border:1px solid black;
    border-radius: 4px;
}

.navbar-light .navbar-toggler {
	border : none;
	outline : none
}

@media only screen and (max-width: 900px) {
	#covid {
		display: none;
	}
	#cover{
		margin-top: 50px;
	}
}
@media only screen and (min-width: 900px) {
	#covid{
		display: block;
	}
	#cover{
		margin-top: 100px;
	}
}

footer {
	width: 100%;
	background-color:#f8f9fa;
	text-align: center;
	height:50px;
}
