body {
	font-family: 'Roboto', sans-serif;
}
#preloader {
	position: fixed;
	height : 100vh;
	z-index : 100;
	text-align: center;
	background: white url('../assets/preloader-md.gif') center center no-repeat;
}