body {
	font-family: 'Montserrat', sans-serif;
}
#preloader {
	position: fixed;
	height : 100vh;
	z-index : 100;
	text-align: center;
	background: white url('../assets/preloader-md.gif') center center no-repeat;
}

#cover-c{
	color: #FF073A;
}
#cover-a{
	color: #007bff
}
#cover-r{
	color: #28a745
}
#cover-d{
	color: #6c757d
}
footer {
	width: 100%;
	background-color:#f8f9fa;
	text-align: center;
	height:50px;
}
@media only screen and (min-width: 900px) {
	.count {
		padding-top : 10px; 
		padding-bottom : 10px; 
		font-weight: 600; 
		font-size: 24px;
	}
	
	.title-count {
		font-weight: 600; 
		padding-top : 10px; 
		padding-bottom : 10px
	}

	.inc-section {
		font-size: 14px;
	}
	canvas{
		width: 100% !important; 
		height: auto !important
	}
}

@media only screen and (max-width: 600px) {
	.count {
		padding-top : 10px; 
		padding-bottom : 10px; 
		font-weight: 600; 
		font-size: 15px;
	}
	
	.title-count {
		font-weight: 600; 
		padding-top : 10px; 
		padding-bottom : 10px;
		font-size: 12px
	}
	.inc-section {
		font-size: 10px;
	}
	canvas{
		display: none !important;
	}
}

.navbar-light .navbar-toggler {
	border : none;
	outline : none
}